:root{
    --background-gradient: linear-gradient(to right, #e9c46a, #2a9d8f);
    --h1-color: rgb(255,127,80);
    --h2-color: rgb(100,149,237);
    --h3-color: rgb(143,188,143);
    --a-color: rgb(220,20,60);
    --th-color: rgb(222,184,135);
    --td-color: rgb(233,150,122);
}

ul{
    list-style-type: circle;
}

h1{
    font-family: sans-serif;
    color: var(--h1-color);
    text-align: center;
    font-size: 40px;
}

h2{
    color: var(--h2-color);
    font-size: 25px;
    margin-left: 20px;
}

h3{
    color:var(--h3-color);
    font-size: 21px;
}

a{
    text-decoration:none;
    color: var(--a-color);
    font-size: 18px;
    transition: 1s;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    margin-left: 50px;
}

table th{
    background-color:var(--th-color);
}

table td{
    background-color: var(--td-color);
}

.table{
    background: var(--background-gradient);
    padding-bottom: 20px;
}

.submit-button{
    cursor: pointer;
    transition: 0.25s;
}
.submit-button:hover{
    color: var(--a-color);
    transform: scale(1.05);
}

.image{
    background: var(--background-gradient); 
}

img{
    margin: 20px;
}

header{
    display: flex;
    background: var(--background-gradient); 
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
    justify-content: center;
}

footer nav{
    display: flex;
}

footer a{
    display: flex;
    padding-left: 5px;
}

fieldset{
    display: flex;
}

fieldset label{
    display: flex;
    padding-left: 5px;
}

.popular_models{
    animation: appearance 1s;
}

img {
    transition: 0.3s;
}

img:hover {
    transform: rotate(5deg) scale(1.1);
}

.logo-img{
    animation: spinLogo .5s;
}

.btns{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

button{
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    transform: scale(1.05);
}

@media (max-width: 768px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    fieldset{
        flex-direction: column;
    }

    footer nav{
        flex-direction: column;
    }
}

@keyframes appearance{
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spinLogo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
